body {
    font-family: Arial, sans-serif; /* Define a fonte do texto */
    display: flex; /* Usa flexbox para alinhar elementos */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100vh; /* Define a altura da página para ocupar toda a tela */
    background-color: #191b19; /* Define a cor de fundo */
}
.container {
    background: rgb(216, 43, 43); /* Define a cor de fundo do cartão */
    padding: 20px; /* Adiciona espaçamento interno */
    border-radius: 10px; /* Arredonda as bordas */
    box-shadow: 4px 8px;/* Adiciona uma sombra suave */
    text-align: center; /* Centraliza o texto dentro do cartão */
}

button {
    background: #007bff; /* Define a cor de fundo do botão */
    color: white; /* Define a cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 10px 15px; /* Adiciona espaçamento interno */
    border-radius: 30px; /* Arredonda as bordas do botão */
    cursor: pointer; /* Muda o cursor para indicar clicabilidade */
}
button:hover {
    background: #b30000; /* Altera a cor de fundo ao passar o mouse */
}

.imagem{
    border-radius: 50%; /* Transforma a imagem em um círculo */
    width: 150px; /* Define a largura da imagem */
    height: 150px; /* Define a altura da imagem */
    margin-bottom: 10px; /* Adiciona espaço abaixo da imagem */
}